#
# Copyright 2014 Saanlima Electronics
#
# Magnus Karlsson 20140818	UCF file for Pipistrello LX45 
#

CONFIG VCCAUX = "3.3" ;

# 50MHz onboard oscillator
NET "clock_50" IOSTANDARD = LVCMOS33;
NET "clock_50" LOC = "H17";
NET "clock_50" TNM_NET = "clock_50";
TIMESPEC TS_clock_50 = PERIOD "clock_50" 50 MHz HIGH 50 % PRIORITY 0 ;

NET "clock_160" TNM_NET = "clock_160";
TIMESPEC "TS_clock_160" = PERIOD "clock_160" 160 MHz HIGH 50 % PRIORITY 0 ;

NET "clk_pll" TNM_NET = "TNM_CLK_PLL";
TIMESPEC "TS_CLK_PLL" = PERIOD "TNM_CLK_PLL" 160 MHz HIGH 50 % PRIORITY 0 ;

NET "divide[12]" TNM_NET = "TNM_CLK_COG";
TIMESPEC "TS_CLK_COG" = PERIOD "TNM_CLK_COG" 80 MHz HIGH 50 % PRIORITY 0 ;


NET "dtr" LOC = "B9"  | IOSTANDARD = LVCMOS33 ;

NET "pin[0]"  LOC = "U18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[1]"  LOC = "T17"  | IOSTANDARD = LVCMOS33 ;
NET "pin[2]"  LOC = "P17"  | IOSTANDARD = LVCMOS33 ;
NET "pin[3]"  LOC = "P16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[4]"  LOC = "N16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[5]"  LOC = "N17"  | IOSTANDARD = LVCMOS33 ;
NET "pin[6]"  LOC = "M16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[7]"  LOC = "L15"  | IOSTANDARD = LVCMOS33 ;
NET "pin[8]"  LOC = "L17"  | IOSTANDARD = LVCMOS33 ;
NET "pin[9]"  LOC = "K15"  | IOSTANDARD = LVCMOS33 ;
NET "pin[10]" LOC = "K17"  | IOSTANDARD = LVCMOS33 ;
NET "pin[11]" LOC = "J16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[12]" LOC = "H15"  | IOSTANDARD = LVCMOS33 ;
NET "pin[13]" LOC = "H18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[14]" LOC = "F18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[15]" LOC = "D18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[16]" LOC = "C18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[17]" LOC = "E18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[18]" LOC = "G18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[19]" LOC = "H16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[20]" LOC = "J18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[21]" LOC = "K18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[22]" LOC = "K16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[23]" LOC = "L18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[24]" LOC = "L16"  | IOSTANDARD = LVCMOS33 ;
NET "pin[25]" LOC = "M18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[26]" LOC = "N18"  | IOSTANDARD = LVCMOS33 ;
NET "pin[27]" LOC = "N15"  | IOSTANDARD = LVCMOS33 ;
NET "pin[28]" LOC = "P15"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "pin[29]" LOC = "P18"  | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "pin[30]" LOC = "T18"  | IOSTANDARD = LVCMOS33 ;
#NET "pin[31]" LOC = "U17"  | IOSTANDARD = LVCMOS33 ;
NET "pin[30]" LOC = "A10"  | IOSTANDARD = LVCMOS33 ;
NET "pin[31]" LOC = "A11"  | IOSTANDARD = LVCMOS33 ;

NET "ledg[0]" LOC = "F17"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[1]" LOC = "F16"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[2]" LOC = "E16"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[3]" LOC = "G16"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[4]" LOC = "F15"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[5]" LOC = "G14"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[6]" LOC = "F14"  | IOSTANDARD = LVCMOS33 ;
NET "ledg[7]" LOC = "H14"  | IOSTANDARD = LVCMOS33 ;

NET "tx_led"  LOC = "V16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "rx_led"  LOC = "U16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "p16_led" LOC = "A16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "p17_led" LOC = "A15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;